:root {
	--text-color: #000000de;
	--primary-color: #f4e041;
	--second-color: #00bdd3;
	--background-color: #f8f8f8;

	--font-main: 'Nunito';
}



@mixin desktop() {
	@media (min-width: 1155px) {
		@content;
	}
}

@mixin desktop-small() {
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin tablet() {
	@media (max-width: 915px) {
		@content;
	}
}

@mixin min-tablet() {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin mobile-xl() {
	@media (max-width: 590px) {
		@content;
	}
}

@mixin mobile() {
	@media (max-width: 360px) {
		@content;
	}
}
